.admin .store-list-wrapper {
  display: flex;
  margin: 50px 0;
}

.admin .store-list-wrapper .store-box {
  box-sizing: border-box;
  width: 301px;
  height: 301px;
  border: 3px solid #e8e8e8;
  border-radius: 7px;
  display: inline-block;
  padding: 24px;
  text-align: center;
  position: relative;
  margin-right: 28px;
  color: #565656;
}

.admin .store-list-wrapper .store-box:hover {
  cursor: pointer;
  border: 3px solid #7DB942;
}

.admin .store-list-wrapper .store-box .store-name {
  color: #565656;
  font-weight: 300;
  font-size: 3rem;
}

.admin .store-list-wrapper .store-box ul {
  text-align: left;
  margin-top: 29px;
}